## DataFrame

In [ ]:
import portus
s = portus.open_session("a")
import pandas as pd
s.add_df(pd.DataFrame({"k": ["re", "tr", "yt"], "num": [1,2,3]}))
pipe = s.ask("What is sum of all values?")
print(pipe.text)

In [ ]:
pipe.df

## Database

In [1]:
import portus
s = portus.open_session("a")
import sqlalchemy as sa
url = "postgresql://Konstantin.Barzilovich@localhost:5432/sampledb"
engine = sa.create_engine(url, pool_pre_ping=True)

s.add_db(engine, name="sampledb")
pipe = s.ask("What is overall revenue?")
print(pipe.text)

Definitions: Overall revenue = sum of all order line revenues across all time, where line revenue = quantity * price for each row in sampledb.public.orders. Null quantities or prices are treated as 0. Steps: Queried the orders table and calculated SUM(quantity * price), rounded to 2 decimals. Result: The overall revenue is 2023.94.

In [2]:
pipe.df

   overall_revenue
0          2023.94

In [3]:
pipe.sql

'SELECT COALESCE(ROUND(SUM(COALESCE(quantity, 0) * COALESCE(price, 0)), 2), 0) AS overall_revenue\nFROM sampledb.public.orders;'

In [4]:
pipe.ask("Is revenue more then 10k?").text

'Definitions: Revenue = total amount from all orders, calculated as sum(quantity * price) across sampledb.public.orders. Steps: Computed overall revenue and compared it to 10,000. Result: Overall revenue is 2,023.94, which is not more than 10,000.'

In [8]:
pipe.messages[1]

HumanMessage(content='What is overall revenue?', additional_kwargs={}, response_metadata={}, id='45f22e63-cf49-457c-aac7-9765241f72c1')